.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 25%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  display: grid; 
  grid-template-columns: 100%;
  font-size: 0.9em;
}

.carousel-cell p{
  display: block;
  width: 100%;
  background-color: white;
  color: black!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  align-self: end;
}
.carousel-cell a{
	color: black!important;
	font-weight: bold;
}
